@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9F9;
    overflow-x: hidden;
}

header {
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
}

.back-button {
    text-decoration: none;
    font-size: 16px;
    color: #111;
    margin-right: 10px;
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 16px;
    margin: 0;
}

main {
    padding: 15px;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(50% - 10px); /* Two cards per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-item i {
    font-size: 40px;
    color: #4461F2;
    margin-bottom: 10px;
}

.profile-item .name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-item .details {
    font-size: 12px;
    color: #666;
}

.profile-item .gender {
    margin-top: 5px;
    color: #888;
    font-size: 12px;
    font-style: italic;
}
/* Your Plan Section */
.your-plan {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.your-plan h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}

.plan-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-details div {
    font-size: 14px;
    color: #444;
}

.plan-details span {
    color: #000;
}

/* Your Family Section */
.your-family h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #111;
}
